<h1 style="text-align:center">About This Shop</h1>
<h4>If you are reading this, it means that one of our colleagues already researches data, you gave us during the registration process...</h4>
<h4>If you didn't see one of them yet, it means that you are still alive and have some time to make a purchase on our web-site (approximately 20 hours). Hurry up! And have a NICE DAY!</h4>

<h2 style="text-align:center">Our Team</h2>
<div style="display: flex; display-direction: raw; justify-content: space-between;">
  <div>
    <img src="https://cdna.artstation.com/p/assets/images/images/029/015/668/large/alexander-shatohin-babayaga-finall-4.jpg?1596197369" alt="Baba Yaga" width=350px height=480px>
      <h2>Mrs. Baba Yaga</h2>
      <p>Customer service & Resource provider</p>
      Contact: <a href="mailto:change_your_life_for_free@babayaga.com">change_your_life_for_free@jungle.com</a>
  </div>
  <div>
    <img src="https://701219-2319188-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2021/11/Thanos.jpg" alt="Tanos" width=350px height=480px>
      <h2>Mr. Tanos</h2>
      <p>Marketing manager</p>
      Contact: <a href="mailto:change_your_life_for_free@babayaga.com">lets_make_a_deal@jungle.com</a>
  </div>
  <div>
    <img src="https://i.pinimg.com/550x/23/ff/91/23ff9168d1c27ad014044d3dc02d04cd.jpg" alt="Joker" width=350px height=480px>
      <h2>Mr. Joker</h2>
      <p>Virtual assistant</p>
      Contact: <a href="mailto:change_your_life_for_free@babayaga.com">assistant@jungle.com</a>
  </div>
</div>
